.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 39px;
}

.nav__logo {
  display: block;
  height: 39px;
  width: 105px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman";
  font-weight: normal;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman";
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px 80px;
}

.recipes__title {
  max-width: 580px;
  color: #fff;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 0 0;
}

.recipes__subtitle {
  max-width: 438px;
  color: #fff;
  font-family: "Noto serif", "Times New Roman";
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0 0;
}

.recipes__videos {
  display: flex;
  margin: 80px 0px 0px;
  gap: 40px;
  padding: 0px;
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin: 24px 0px 0px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 auto 80px;
  padding: 0px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: 0 auto;
  max-width: 385px;
}

.reservation__form-fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  border: 0;
}

.reservation__form-label {
  padding-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.reservation__form-input {
  border-radius: 4px;
  width: 385px;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 32px;
}

.reservation__form-button {
  border-radius: 4px;
  height: 60px;
  width: 385px;
  background-color: #2f80ed;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

::-webkit-input-placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
::-moz-placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
:-ms-input-placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
::-ms-input-placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.reservation__form-button:hover {
  opacity: 0.7;
}

.reservation__form-checkbox {
  border: 2px solid #838383;
  height: 20px;
  width: 20px;
}

.reservation__form-checkbox:checked {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  background-size: cover;
  background-position: center;
}
